/* generics */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

:root {
    --drop-var-primary: #0061fe;
    --drop-var-light: #b4d0e6;
    --drop-var-white: #ffffff;
    --drop-var-black: #000000;
}

body {
    font-family: Arial, Helvetica, sans-serif;
}

input {
    margin: 2.5rem 0
}

span {
    margin-right: 2rem
}

/* headings */
h1 {
    font-size: 4rem;
    padding: 3rem 0;
}

h2 {
    font-size: 2.5rem;
}

h5 {
    text-align: center;
    padding: 0.75rem 0.25rem;
}

/* utils */
.container-big {
    width: 70%;
    margin: auto;
}

.container {
    width: 60%;
    margin: auto;
}

.flex {
    display: flex;
}

.space-b {
    justify-content: space-between;
}

.w-100 {
    width: 100%;
}

/* header utils */
.navbar-left,
.navbar-right {
    align-items: center;
    padding: 1rem;
}

.navbar a {
    color: var(--drop-var-black);
    margin-left: 1rem;
    text-decoration: none;
    display: inline-block;
}

.navbar .btn-blue,
.btn-card {
    background-color: var(--drop-var-primary);
    color: var(--drop-var-white);
    padding: 0.5rem;
    border: none;
}

.btn-card {
    padding: 0.5rem 1.8rem
}

/* main utils */
.jumbotron {
    background-color: var(--drop-var-light);
}

.jumbotron .btn-blue {
    color: var(--drop-var-white);
    background-color: var(--drop-var-primary);
    margin-left: 1rem;
    text-decoration: none;
    display: inline-block;
}

.col-35 {
    width: 35%;
}

.col-65 {
    width: 65%;
    position: relative;
}

.col-65 .img_jumbo {
    width: 100%;
    position: absolute;
}

.col-35 .btn-blue {
    margin: 2rem 0;
    padding: 0.5rem 1rem;
    font-size: 1rem;
}

.download-icon {
    font-size: 2rem;
    margin-top: 3.5rem;
    margin-bottom: 2rem;
}

/* cards utilies */
.cards {
    margin-top: 80px;
}

.card-header {
    justify-content: center;
    align-items: center;
    border-bottom: 1px solid lightgray
}

.card-content {
    padding: 2rem;
}

.abbonamenti {
    gap: 5%
}

.cards .card {
    width: calc(100% / 3);
    border: 1px lightgrey solid;
}

.prezzo {
    margin: 1rem 0
}

.costo {
    display: block;
    margin-bottom: 1rem;
}

.info-offerta {
    margin: 3rem 0
}

.link-blu {
    color: blue;
    text-decoration: underline;
}

.abbonamenti span {
    display: block;
    margin: 2rem 0;
    font-size: 0.9rem;
}

.separatore {
    width: 30%;
    border: 1px solid lightgrey;
}

.punti-salienti {
    margin-top: 2rem
}

.blue {
    color: var(--drop-var-primary)
}

/* office utils */
.office {
    padding: 3rem 0;
}


.office-team {
    width: 100%;
    border: 1px lightgrey solid;
    margin-bottom: 2rem;
}

.office-left {
    width: 70%;
}

.office-left strong {
    font-size: 0.7rem;
    display: block;
    margin: 1rem 0 2rem;
}

.office-left span {
    font-size: 0.7rem;
}

.office-right {
    width: 30%;
}

/* partner utils*/

.partner p {
    padding: 1.5rem 0 2.5rem;
}

.partner .col-35 {
    padding: 2rem;
}

.partner a {
    color: var(--drop-var-black);
    padding: 0.5rem;
    border: 1px solid var(--drop-var-black);
    text-decoration: none;
}

/* operation utils */
.operations {
    padding: 80px 0
}

.operations h2 {
    margin: 2rem 0;
}

.operations-card {
    gap: 5%;
    flex-wrap: wrap;
}

.operations .card {
    width: 30%;
}

.card-bottom p {
    margin: 2rem 0 3rem;
}

/* header */


/* main */