/* generics */
* {margin: auto;
   padding: auto;
   box-sizing: border-box;}

:root {--drop-var-primary: #0061fe;
       --drop-var-light: #b4d0e6;
       --drop-var-white: #ffffff;
       --drop-var-black: #000000;}